{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    {% if hot %}
        <div class="row justify-content-start align-items-end">
            <div class="col-lg-4">
                <h2>Hot questions</h2>
            </div>
            <div class="col-lg-2">
                <a href="{% url 'index' %}">New questions</a>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-start align-items-end">
            <div class="col-lg-4">
                <h2>New questions</h2>
            </div>
            <div class="col-lg-2">
                <a href="{% url 'hot' %}">Hot questions</a>
            </div>
        </div>
    {% endif %}


    {% for question in items %}
        {% include 'components/question-card.html' %}
    {% endfor %}

    {% include 'components/paginator.html' %}

{% endblock %}