<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="../static/css/bootstrap-5.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
</head>
<body class="flex-shrink-0">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">AskMe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="row justify-content-start align-items-end">
                <div class="col-lg-4">
                    <h2>New questions</h2>
                </div>
                <div class="col-lg-2">
                    <a href="#">Hot questions</a>
                </div>
            </div>
            <div class="row question">
                <div class="col-lg-3">
                    <img src="../static/img/afDCCZ7OsWY.jpeg" alt="" class="question-image align-self-start">
                    <div class="user-name">Nachyn Saryglar</div>
                    <div class="asked-date">Asked 20.10.2023</div>
                </div>
                <div class="col-lg-9">
                    <div class="question-title">First question</div>
                    <div class="question-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elementum ante eu lorem
                        porta,
                        sit amet eleifend enim maximus. Nulla mollis arcu ullamcorper mattis maximus. Suspendisse
                        dignissim euismod metus at tempus. Orci varius natoque penatibus et magnis dis parturient
                        montes, nascetur ridiculus mus. Sed consequat massa dapibus quam congue interdum. Fusce
                        vitae ex
                        erat. Nullam pretium sagittis ante a gravida. Nullam molestie magna ante, volutpat efficitur
                        felis fringilla non. Sed non risus odio. Proin ac gravida mi, eget tristique velit. Orci
                        varius
                        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed egestas a
                        tortor
                        vitae consectetur. In feugiat mauris sed nibh placerat, in blandit mi sodales.
                    </div>
                    <div class="question-info">
                        <div class="row align-items-center">
                            <div class="col tags">
                                Tags:
                                <span class="badge bg-primary">perl</span>
                                <span class="badge bg-primary">Python</span>
                                <span class="badge bg-primary">Mysql</span>
                            </div>
                            <div class="col">Answers(5)</div>
                            <div class="col score">
                                <div class="row">
                                    <a class="col-4 plus" href="#">+</a>
                                    <div class="col-4">5</div>
                                    <a class="col-4 minus" href="#">-</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="tags">
                    <h2>Popular tags</h2>
                    <span class="badge bg-primary">perl</span>
                    <span class="badge bg-primary">Python</span>
                    <span class="badge bg-primary">TechnoPark</span>
                    <span class="badge bg-primary">MYSQL</span>
                    <span class="badge bg-primary">Django</span>
                    <span class="badge bg-primary">MailRu</span>
                    <span class="badge bg-primary">Firefox</span>
                </div>
                <div class="best-members">
                    <h2>Best members</h2>
                    <ul class="list-group">
                        <li class="list-group-item">Mr. Freeman</li>
                        <li class="list-group-item">Dr. House</li>
                        <li class="list-group-item">Bender</li>
                        <li class="list-group-item">Queen Victoria</li>
                        <li class="list-group-item">V. Pupkin</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/css/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>