{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-3">
            <img class="question-image align-self-start"
                 src="../static/img/ewtsfmq4l6d2vn5nyPRX4JleeAs8bTUNxISvZm2IW3p3BjaW648ZRD3uGtDiJBlG4kvrRTNoBd0pG5FFK1bIYHAR.jpeg">
            <div class="user-name">{{ question.author.nickname }}</div>
            <div class="asked-date">Asked {{ question.creation_date }}</div>
        </div>
        <div class="col-lg-9 d-flex flex-column">
            <div class="question-title">{{ question.title }}</div>
            <div class="question-text">{{ question.content }}</div>
            <div class="question-info mt-auto">
                <div class="row justify-content-between">
                    <div class="col-8 tags">
                        Tags:
                        {% for tag in question.tag.all %}
                            <a class="badge bg-primary" style="text-decoration: none" href="{% url 'tag' tag %}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <div class="col-4 score">
                        <div class="row">
                            <a class="col-4 plus" href="#">+</a>
                            <div class="col-4">{{ question.get_score }}</div>
                            <a class="col-4 minus" href="#">-</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="answers">
        <h2>Answers:</h2>
        {% for answer in items %}
            {% include 'components/answer-card.html' %}
        {% endfor %}
    </div>

    {% include 'components/paginator.html' %}

    <hr/>
    <div class="add-answer">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Send answer</label>
            <div class="row">
                <div class="col">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                      placeholder="Write your answer here..."></textarea>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>

    </div>
{% endblock %}