<div class="col-lg-3">
    <div class="row">
        <div class="tags">
            <h2>Popular tags</h2>
            {% for tag in popular_tags %}
                <a class="badge bg-primary" style="text-decoration: none" href="{% url 'tag' tag %}">{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="best-members">
            <h2>Best members</h2>
            <ul class="list-group">
                <li class="list-group-item">Mr. Freeman</li>
                <li class="list-group-item">Dr. House</li>
                <li class="list-group-item">Bender</li>
                <li class="list-group-item">Queen Victoria</li>
                <li class="list-group-item">V. Pupkin</li>
            </ul>
        </div>
    </div>
</div>